<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337720195894-r5lsdkd2691niabt08t0tj88u58qj8er.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337720195894-r5lsdkd2691niabt08t0tj88u58qj8er</string>
	<key>API_KEY</key>
	<string>AIzaSyDX40L2DeJlfc6dWhyzR6XwVKtNhQcXyD0</string>
	<key>GCM_SENDER_ID</key>
	<string>337720195894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartShoppe</string>
	<key>PROJECT_ID</key>
	<string>smart-shoppe-2e39b</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-shoppe-2e39b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337720195894:ios:e344d05795550100dcd197</string>
</dict>
</plist>